<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.club.guestlist">

    <!-- Required permission to use in-app billing. -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permiss.NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.application.club.guestlist.login.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--<activity
            android:name="com.guestlisttlist.offer.OfferDisplayActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->




        <activity
            android:name="com.application.club.guestlist.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>




        <activity
            android:name="com.application.club.guestlist.bookingTable.TableSelectionWebClientActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>



        <activity
            android:name="com.application.club.guestlist.profile.ProfileScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.offer.OfferDisplayActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.clubdetails.ClubDetailsListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.booking.BookGuestListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.qrcode.QRCodeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.bookedPasses.DisplayPassActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.bookingTable.TableBookingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.booking.BookPassActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.login.AboutUsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.menu.ChangeLocationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.application.club.guestlist.login.SelectCityActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>





        <activity
            android:exported="true"
            android:name="com.application.club.guestlist.menu.LocationChangeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>
        <intent-filter>
            <action android:name="com.application.club.guestlist.menu.LocationChangeActivity" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name="com.application.club.guestlist.bookingTable.TableConfirmationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <!-- Firebase Notifications -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />

        <meta-data        android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>


        <service android:name="com.application.club.guestlist.firebasenotifications.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <service android:name="com.application.club.guestlist.firebasenotifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications end-->

        <!--
        Add this activity to your manifest
        it comes with the Paytm SDK
        -->
        <activity android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|keyboard"/>

        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="fabaabc4273e4e67d52a5410e9b2fa7a59088976" />-->



        <!-- Facebook -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity android:name="com.application.club.guestlist.fblogin.LoginActivity" />

        <!-- Facebook Ends-->




    <meta-data android:name="instamojo.orderauth.url"
                   android:value="http://199.180.133.121/instamojo/access_token.php"
            />
    </application>
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS"/>
 
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS"/>
 
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
 
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
 
    <uses-permission android:name="android.permission.READ_SMS"/>
 
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 


</manifest>
